@model Phone_Selling_Project.Models.Product

@{
    ViewData["Title"] = "Details";
}

<header class="jumbotron-fluid">
    <h1>@Model.ProductName</h1>
</header>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-6 p-lg-6 mx-auto my-6">
        <img src="/images/@Model.ImageFileName" />
        <p class="lead fw-normal">@Model.Description</p>
        <p>Price @Model.Price.ToString("£00.00")</p>
        <a class="btn btn-outline-secondary" href="#">Buy Now</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div>
    <hr />
    <dl class="d-table-row bg-light" style="font-family: Arial, Helvetica, sans-serif">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemoryStorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemoryStorage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Back to Phones</a>
</div>
<hr />
